.vue-datepicker > input {
  padding: 5px 10px;
  width: 200px;
  line-height: 24px;
  border: 1px solid #BFCBD7;
  border-radius: 3px;
  font-size: 14px;
  outline: none;
  cursor: pointer; }
  .vue-datepicker > input:focus {
    border: 1px solid #20a0ff; }
.vue-datepicker .month-active {
  border: 1px solid #20a0ff; }
.vue-datepicker .vue-datepicker-wrap {
  width: 240px;
  box-shadow: 2px 2px 8px #bdb8b8;
  z-index: 999; }
  .vue-datepicker .vue-datepicker-wrap .vue-datepicker-header {
    padding: 0 15px;
    font-size: 14px;
    text-align: center;
    line-height: 36px;
    border-bottom: 1px solid #ccc; }
    .vue-datepicker .vue-datepicker-wrap .vue-datepicker-header .vue-datepicker-header-btn {
      cursor: pointer; }
      .vue-datepicker .vue-datepicker-wrap .vue-datepicker-header .vue-datepicker-header-btn:hover {
        color: #008afe; }
    .vue-datepicker .vue-datepicker-wrap .vue-datepicker-header .vue-datepicker-header-btn-pre {
      float: left; }
    .vue-datepicker .vue-datepicker-wrap .vue-datepicker-header .vue-datepicker-header-btn-next {
      float: right; }
  .vue-datepicker .vue-datepicker-wrap .vue-datepicker-content {
    position: relative; }
    .vue-datepicker .vue-datepicker-wrap .vue-datepicker-content table {
      width: 100%;
      border-collapse: collapse; }
      .vue-datepicker .vue-datepicker-wrap .vue-datepicker-content table thead {
        line-height: 30px;
        font-size: 12px;
        background: #eee; }
      .vue-datepicker .vue-datepicker-wrap .vue-datepicker-content table tbody tr {
        line-height: 28px; }
        .vue-datepicker .vue-datepicker-wrap .vue-datepicker-content table tbody tr td {
          font-size: 12px;
          text-align: center;
          cursor: pointer; }
          .vue-datepicker .vue-datepicker-wrap .vue-datepicker-content table tbody tr td.active, .vue-datepicker .vue-datepicker-wrap .vue-datepicker-content table tbody tr td.active:hover {
            color: #fff;
            background: #008afe; }
          .vue-datepicker .vue-datepicker-wrap .vue-datepicker-content table tbody tr td.flag {
            color: #999; }
        .vue-datepicker .vue-datepicker-wrap .vue-datepicker-content table tbody tr td:hover {
          background: #eee; }
    .vue-datepicker .vue-datepicker-wrap .vue-datepicker-content .vue-date-picker-year-panel {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #fff; }
      .vue-datepicker .vue-datepicker-wrap .vue-datepicker-content .vue-date-picker-year-panel ul {
        width: 50%;
        height: 100%;
        margin: 0;
        padding-left: 0;
        box-sizing: border-box;
        overflow-y: auto;
        float: left;
        list-style: none; }
        .vue-datepicker .vue-datepicker-wrap .vue-datepicker-content .vue-date-picker-year-panel ul li {
          font-size: 14px;
          text-align: center;
          line-height: 30px;
          cursor: pointer; }
          .vue-datepicker .vue-datepicker-wrap .vue-datepicker-content .vue-date-picker-year-panel ul li.active {
            color: #fff;
            background: #007acc; }
        .vue-datepicker .vue-datepicker-wrap .vue-datepicker-content .vue-date-picker-year-panel ul:first-child {
          border-right: 1px solid #007acc; }

/*# sourceMappingURL=datepicker.css.map */
